a:active {
    color: #ff0000;
}
a:visited {
    color: #660000;
}
a:link {
    color: #cc0000;
}

body {
    font-family: serif;
    color: #0000ff;
    background-color: #f7f7df;
}
/*
textarea {
    background-color: #222222;
    color: #cccccc;
    outline: none;
}

input[type=text] {
    background-color: #222222;
    color: #cccccc;
    outline: none;
    border-style: solid;
    border-width: 1px;
}

input[type="submit"] {
    background-color: #666666;
    color: #dddddd;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: #888888;
    font-family: verdana;
}

button {
    background-color: #666666;
    color: #dddddd;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: #888888;
    font-family: verdana;
}

input[type="number"] {
    background-color: #222222;
    color: #cccccc;
    outline: none;
    border-style: solid;
    border-width: 1px;
    font-family: courier;
}

select {
    background-color: #444444;
    color: #dddddd;
    outline: none;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
}
*/
a[href] {
    text-decoration: none;
}

.storage-full-text {
    color: #990000;
    font-size: 14px;
    font-weight: bolder;
    font-style: italic;
}

.color-swatch {
    appearance: none;
	padding-right: 18px;
	padding-top: 0px;
	padding-bottom: 1px;
	border-style: solid;
	border-width: 1px;
	outline: none;
}

.important-text {
    color : #000000;
}

.compile-ok {
    color : #00bb00;
}

.compile-error {
    color : #bb0000;
}

.browse-button {
    background-color: #f7f7df;
    width: 30px;
    height: 20px;
    outline: none;
    border-style: solid;
    border-width: 1px;
}

.browse-button:hover {
    background-color: #ccccb9;
}